*{
    background-color: white;
    padding-left: 1%;
    padding-right: 1%;
}

header{
    height: fit-content;
    background-color: lightseagreen;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  
}

header .top-left{
   background-color: lightseagreen;
  
   margin-left: 25px;
}

header .center-top{
    background-color: lightseagreen;
    text-align: center;

}

header .top-right{
    margin-top: 1%;
    background-color:lightseagreen ;
    display: flex;
    gap: 10px;
    flex-direction: row;
    margin-right: 25px;
}

header .github-icon{
    
    background-color: lightseagreen;
    width: 30px;
    height: 30px;
}

header .linkedin-icon{
   
    background-color: lightseagreen;
    width: 30px;
    height: 30px;
    
}



body{
    font-size: medium;
    
}


body .self-img{

    margin-left: 35%;
    margin-top: 2%;
    width: 500px;
    height: 500px;
    border-radius: 5000px;
  
}

footer{
    font-size: medium;
    height: fit-content;
    text-align: center;
    background-color: lightseagreen;
    color: white;
}

